<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Liked the content?</h2>
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me A Coffee', '#29abe0', 'Z8Z1AN3SI');kofiwidget2.draw();</script> 
        </div>
    </div>
</aside>