<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ site.title }}</h1>
            <hr>
            <p>Creative Space for apps and other software projects.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
