<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for project in site.projects %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ project.url | prepend: site.baseurl }}" class="portfolio-box">
                        <img src="{{ project.thumbnail }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ project.category }}
                                </div>
                                <div class="project-name">
                                    {{ project.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
