<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">  
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/jekyll-test/">{{ site.title }}</a>
        </div>
    </div>
  </nav>

  
  <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ page.name }}</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="" class="btn btn-primary btn-xl page-scroll">Download</a>
        </div>
    </div>
  </header>
  {% for picture in page.pictures %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
  <section class="bg-primary">
  {% else %}
  <section class="bg-dark">
  {% endif %}
    <div class="container-fluid">
        <div class="row">          
          {% if thecycle == 'even' %}
          <div class="col-lg-2 col-lg-offset-1 text-left">
            <img src="{{ picture.file | relative_url }}" class="img-responsive" style="max-width: 320px;" alt="">            
          </div>
          <div class="col-lg-6 col-lg-offset-1 text-right">
              <h2 class="section-heading">{{ picture.title }}</h2>
              <p class="text-faded">{{ picture.text }}</p>                
          </div>
          {% else %}
          <div class="col-lg-6 col-lg-offset-1 text-left">
              <h2 class="section-heading">{{ picture.title }}</h2>
              <p class="text-faded">{{ picture.text }}</p>                
          </div>
          <div class="col-lg-2 text-left">
            <img src="{{ picture.file | relative_url }}" class="img-responsive" style="max-width: 320px;" alt="">            
          </div>
          {% endif %}
        </div>
    </div>
  </section>
  {% endfor %}
  {% include aside.html %}
  {% include scripts.html %}
</body>

</html>